{{define "footer"}}

                            </div>
                        </Card>
                    </i-Content>
                    <Footer class="layout-footer-center">2021-2022 &copy; Mingyuan Design</Footer>
                </Layout>
            </div>
        </div>
        <script>

            const myMixin = {
                data () {
                    return {
                        clientHeight:0,
                        clientWidth:0,
                        contentHeight:0,
                        contentWidth:0,
                        path:"",
                    }
                },
                created() {
                    this.mix()
                    this.onresize()
                    this.path = window.location.pathname
                },
                methods: {
                    mix() {
                        console.log('混入实例!')
                    },
                    onresize() {
                        //this.clientHeight = document.body.clientHeight > document.documentElement.clientHeight ? document.body.clientHeight : document.documentElement.clientHeight
                        this.clientHeight = document.documentElement.clientHeight
                        this.contentHeight = this.clientHeight - 140

                        this.clientWidth = document.documentElement.clientWidth
                        this.contentWidth = this.clientWidth - 36*2
                    },
                    getRGB() {
                        let r = parseInt(Math.random() * 256), //0-255
                            g = parseInt(Math.random() * 256), //0-255
                            b = parseInt(Math.random() * 256); //0-255
                        return `rgb(${r},${g},${b})` //使用了es6的模板字符串
                    }
                },
                mounted() {
                    const that = this
                    window.onresize = () => {
                        return (() => {
                            that.onresize()
                        })()
                    }
                }
            }

            render.mixins = [myMixin]

            const app = Vue.createApp(render);
            app.use(ViewUIPlus);
            app.mount("#app");
        </script>
    </body>
</html>

{{end}}