{{define "footer"}}

                            </div>
                        </Card>
                    </i-Content>

                    <Footer class="layout-footer-center">
                        2021-2023 &copy; Mingyuan Design &nbsp;&nbsp;&nbsp;
                        <img style="width: 13px" src="./assets/img/beian.png"></img>ICP 备案：<a href="http://beian.miit.gov.cn/" target="_blank" style="color: #191a23"> 沪ICP备16010013号-2 </a>
                        <input id="copyText" style="display:none"/>
                    </Footer>
                </Layout>
            </div>
            <Modal v-model="shareModal" title="分享链接" @on-ok="shareOk" @on-cancel="shareCancel" :width="700" mask="true">
                <i-Form label-position="right" :label-width="60" >
                    <Form-Item label="名称：">
                        <i-Input v-model="shareName" style="width:300px"></i-Input>
                    </Form-Item>
                    <Form-Item label="链接：">
                        <a :href="shareUrl" target="_blank">
                            <span v-html="shareUrl" ></span>
                        </a>
<!--                        <Icon type="ios-copy-outline" title="复制" @click="copy(this.shareUrl)" size="18" style="cursor:pointer;"></Icon>-->
                    </Form-Item>
                </i-Form>
            </Modal>

        </div>
        <script setup>
            const myMixin = {
                data () {
                    return {
                        clientHeight: 0,
                        clientWidth: 0,
                        contentHeight: 0,
                        contentWidth: 0,
                        host: "",
                        path: "",
                        local: "",
                        params:{},

                        nowDate: "",

                        logoClickNumber: 0,

                        globalTextareaRowsWithButton: 0,
                        globalTextareaRowsNoneButton: 0,

                        uuid: "",
                        copyText:"",

                        shareModal: false,
                        shareName: "",
                        shareToken: "",
                        shareUrl: "",
                        shareData:{},
                    }
                },
                created() {
                    this.mix()
                    this.onresize()
                    this.host = window.location.host
                    this.path = window.location.pathname
                    this.local = "127.0.0.1:8081"
                    // this.local = "www.mingyuan.site"
                },
                methods: {
                    mix() {
                        // console.log('混入实例!')
                    },
                    onresize() {
                        //this.clientHeight = document.body.clientHeight > document.documentElement.clientHeight ? document.body.clientHeight : document.documentElement.clientHeight
                        this.clientHeight = document.documentElement.clientHeight
                        this.contentHeight = this.clientHeight - 106
                        this.contentHeightInner = this.clientHeight - 128

                        // console.log(document.documentElement.clientWidth, document.body.clientWidth)

                        this.clientWidth = document.documentElement.clientWidth
                        this.contentWidth = this.clientWidth - 36*2

                        this.globalTextareaRowsWithButton = (this.contentHeight - 63) / 21
                        this.globalTextareaRowsNoneButton = this.contentHeight / 21
                    },
                    getParam() {
                        var queryString = window.location.search;
                        var params = {};
                        if (queryString) {
                            var pairs = queryString.split('&');
                            for (var i = 0; i < pairs.length; i++) {
                                var pair = pairs[i].split('=');
                                if(pair.length>0){
                                    params[pair[0].replace('?','')] = pair[1];
                                }
                            }
                        }
                        this.params = params
                    },
                    getRGB() {
                        let r = parseInt(Math.random() * 256), //0-255
                            g = parseInt(Math.random() * 256), //0-255
                            b = parseInt(Math.random() * 256); //0-255
                        return `rgb(${r},${g},${b})` //使用了es6的模板字符串
                    },
                    logoClick() {
                        this.logoClickNumber ++
                        window.location.href = "/"
                    },
                    getUniqueId() {
                        num = navigator.userAgent.replace(/[^0-9]/ig, "")
                        return num.substr(num.length - 10)
                    },
                    getUniqueRGB(){
                        id = this.getUniqueId()

                        let r = parseInt(id * 22 % 256), //0-255
                            g = parseInt(id * 21 % 256), //0-255
                            b = parseInt(id * 96 % 256); //0-255

                        console.log(r,g,b)
                        return `rgb(${r},${g},${b})` //使用了es6的模板字符串
                    },
                    add(m){
                        return m<10 ? '0'+m : m
                    },
                    exchangeT2D(t, timezone){

                        var mt = 0
                        var isMs = false
                        var len = t.toString().length

                        if (len === 10) {
                            mt = t*1000
                        } else if (len === 13) {
                            mt = t*1
                            isMs = true
                        }

                        mt -= (8-timezone)*3600*1000

                        var time = new Date(mt);
                        var y = time.getFullYear();
                        var m = time.getMonth()+1;
                        var d = time.getDate();
                        var h = time.getHours();
                        var mm = time.getMinutes();
                        var s = time.getSeconds();

                        date = y+'-'+this.add(m)+'-'+this.add(d)+' '+this.add(h)+':'+this.add(mm)+':'+this.add(s);

                        if (isMs) {
                            var ms =time.getMilliseconds()
                            date += '.'+ms
                        }

                        return date
                    },
                    exchangeD2T(d, timezone){
                        d = d.substring(0,19);
                        d = d.replace(/-/g,'/');
                        time = new Date(d).getTime() / 1000;
                        time += (8-timezone)*3600
                        return time
                    },
                    getUUID(){
                        const fpPromise = new Promise((resolve, reject) => {
                            const script = document.createElement('script')
                            script.onload = resolve
                            script.onerror = reject
                            script.async = true
                            script.src = 'https://cdn.jsdelivr.net/npm/'
                                + '@fingerprintjs/fingerprintjs@3/dist/fp.min.js'
                            document.head.appendChild(script)
                        }).then(() => FingerprintJS.load())

                        fpPromise.then(fp => fp.get()).then(result => {
                            this.uuid = result.visitorId
                            this.getUUIDSuccessCallBack()
                        })
                    },
                    initShare(){
                        this.shareName = ""
                        this.shareToken = ""
                        this.shareUrl = ""
                        this.shareData = {}
                        this.shareModal = false
                    },
                    share(){
                        this.shareName = (this.path.length > 1 ? this.path.substring(1)+"_": "")+this.exchangeT2D(Date.parse(new Date()) / 1000, 8).split(' ')[0] + "_"
                        this.shareToken = this.guid()
                        this.shareUrl = "http://" + this.local + this.path + "?token=" + this.shareToken
                        this.shareData = this.getShareData()
                        this.shareModal = true
                    },
                    shareOk(){
                        axios.post('/share/saveData', {
                            uuid: this.uuid,
                            path: this.path,
                            token: this.shareToken,
                            name: this.shareName,
                            data: this.shareData,
                        }).then((response) => {
                            let resp = response.data
                            if (resp.status === 200) {
                                this.copy(this.shareUrl)
                                this.$Notice.success({
                                    title: '提示',
                                    desc: '保存成功，并复制到剪切板'
                                });
                            } else {
                                this.$Notice.error({
                                    title: '提示',
                                    desc: resp.message
                                });
                            }
                            this.initShare()
                        })
                    },
                    shareCancel(){
                        this.initShare()
                    },
                    getShareData(){
                    },
                    initOrInitShareDataFail(){
                    },
                    getShareDataFromServer() {
                        var token =  this.params["token"]
                        if(token === undefined || token.length === 0) {
                            this.initOrInitShareDataFail({})
                            return
                        }
                        axios.post('/share/getData', {
                            uuid: this.uuid,
                            path: this.path,
                            token: token
                        }).then((response) => {
                            let resp = response.data
                            if (resp.status === 200) {
                                this.initShareData($.parseJSON(resp.data))
                            } else {
                                this.$Notice.error({
                                    title: '提示',
                                    desc: resp.message
                                });
                                this.initOrInitShareDataFail({})
                            }
                        })
                    },
                    copy(v, isNotice){
                        $("#copyText").css('display', 'inline')
                        $("#copyText").val(v)
                        $("#copyText").select();
                        document.execCommand('copy')
                        $("#copyText").css('display', 'none')
                        if (isNotice === true) {
                            this.$Notice.success({
                                title: '提示',
                                desc: '已复制到剪切板'
                            });
                        }
                    },
                    guid() {
                        return 'xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                            var r = Math.random() * 16 | 0,
                                v = c === 'x' ? r : (r & 0x3 | 0x8);
                            return v.toString(16);
                        });
                    },
                    getUUIDSuccessCallBack() {
                        this.getShareDataFromServer()
                    }
                },
                mounted() {
                    const that = this
                    window.onresize = () => {
                        return (() => {
                            that.onresize()
                        })()
                    }
                    this.nowDate = this.exchangeT2D(Date.parse(new Date()) / 1000 - 8 * 60 * 60)
                    this.getUUID()
                    this.getParam()
                }
            }

            render.mixins = [myMixin]
            const app = Vue.createApp(render);
            app.use(ViewUIPlus);
            app.mount("#app");
        </script>

        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?0c10428bc0570df285a796a1ffe6e9af";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();
        </script>

    </body>
</html>

{{end}}