{{define "footer"}}

                            </div>
                        </Card>
                    </i-Content>

                    <Footer class="layout-footer-center">
                        2021-2023 &copy; Mingyuan Design &nbsp;&nbsp;&nbsp;
                        <img style="width: 13px" src="./assets/img/beian.png"></img>ICP 备案：<a href="http://beian.miit.gov.cn/" target="_blank" style="color: #191a23"> 沪ICP备16010013号-2 </a>
                    </Footer>
                </Layout>
            </div>
        </div>
        <script setup>

            const myMixin = {
                data () {
                    return {
                        clientHeight:0,
                        clientWidth:0,
                        contentHeight:0,
                        contentWidth:0,
                        host:"",
                        path:"",
                        local:"",

                        nowDate:"",

                        logoClickNumber:0,

                        globalTextareaRowsWithButton:0,
                        globalTextareaRowsNoneButton:0
                    }
                },
                created() {
                    this.mix()
                    this.onresize()
                    this.host = window.location.host
                    this.path = window.location.pathname
                    // this.local = "127.0.0.1:8099"
                    this.local = "www.mingyuan.site"
                },
                methods: {
                    mix() {
                        // console.log('混入实例!')
                    },
                    onresize() {
                        //this.clientHeight = document.body.clientHeight > document.documentElement.clientHeight ? document.body.clientHeight : document.documentElement.clientHeight
                        this.clientHeight = document.documentElement.clientHeight
                        this.contentHeight = this.clientHeight - 106
                        this.contentHeightInner = this.clientHeight - 128

                        // console.log(document.documentElement.clientWidth, document.body.clientWidth)

                        this.clientWidth = document.documentElement.clientWidth
                        this.contentWidth = this.clientWidth - 36*2

                        this.globalTextareaRowsWithButton = (this.contentHeight - 63) / 21
                        this.globalTextareaRowsNoneButton = this.contentHeight / 21
                    },
                    getRGB() {
                        let r = parseInt(Math.random() * 256), //0-255
                            g = parseInt(Math.random() * 256), //0-255
                            b = parseInt(Math.random() * 256); //0-255
                        return `rgb(${r},${g},${b})` //使用了es6的模板字符串
                    },
                    logoClick() {
                        this.logoClickNumber ++
                        window.location.href = "/"
                    },
                    getUniqueId() {
                        num = navigator.userAgent.replace(/[^0-9]/ig, "")
                        return num.substr(num.length - 10)
                    },
                    getUniqueRGB(){
                        id = this.getUniqueId()

                        let r = parseInt(id * 22 % 256), //0-255
                            g = parseInt(id * 21 % 256), //0-255
                            b = parseInt(id * 96 % 256); //0-255

                        console.log(r,g,b)
                        return `rgb(${r},${g},${b})` //使用了es6的模板字符串
                    },
                    add(m){
                        return m<10 ? '0'+m : m
                    },
                    exchangeT2D(t, timezone){

                        console.log(timezone)

                        var mt = 0
                        var isMs = false
                        var len = t.toString().length

                        if (len === 10) {
                            mt = t*1000
                        } else if (len === 13) {
                            mt = t*1
                            isMs = true
                        }

                        mt -= (8-timezone)*3600*1000

                        var time = new Date(mt);
                        var y = time.getFullYear();
                        var m = time.getMonth()+1;
                        var d = time.getDate();
                        var h = time.getHours();
                        var mm = time.getMinutes();
                        var s = time.getSeconds();

                        date = y+'-'+this.add(m)+'-'+this.add(d)+' '+this.add(h)+':'+this.add(mm)+':'+this.add(s);

                        if (isMs) {
                            var ms =time.getMilliseconds()
                            date += '.'+ms
                        }

                        return date
                    },
                    exchangeD2T(d, timezone){
                        d = d.substring(0,19);
                        d = d.replace(/-/g,'/');
                        time = new Date(d).getTime() / 1000;
                        time += (8-timezone)*3600
                        return time
                    },
                },
                mounted() {
                    const that = this
                    window.onresize = () => {
                        return (() => {
                            that.onresize()
                        })()
                    }

                    this.nowDate = this.exchangeT2D(Date.parse(new Date()) / 1000 - 8 * 60 * 60)
                }
            }

            render.mixins = [myMixin]

            const app = Vue.createApp(render);
            app.use(ViewUIPlus);
            app.mount("#app");
        </script>

        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "https://hm.baidu.com/hm.js?0c10428bc0570df285a796a1ffe6e9af";
              var s = document.getElementsByTagName("script")[0];
              s.parentNode.insertBefore(hm, s);
            })();
        </script>

    </body>
</html>

{{end}}