{{define "header"}}

<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <title>MingYuanTools - 开发在线工具</title>
    <meta name="keywords" content="Json格式化工具, Json校验, Json压缩转义, Yaml格式化, Xml格式化, Sql格式化, 加密&amp;解密算法, Hash算法, Base64编解码, Url编解码, ChatGPT在线, Adx素材, 像素大战, 数据处理">
    <meta name="description" content="面向开发人员的免费在线工具, 包括格式化工具Json格式化工具、编码和解码工具、密码和安全工具、ChatGPT在线、Adx素材、像素大战、数据处理">
    <meta name="language" content="en">
    <meta name="robots" content="all">
    <meta name="rating" content="general">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <meta name="baidu_union_verify" content="a106b44f013f808cf1697826f55ec4c7">
    <meta name="bytedance-verification-code" content="" />
    <link rel="shortcut icon" href="./assets/img/favicon.ico"></link>
    <link rel="manifest" href="manifest.webapp">

    <link rel="stylesheet" type="text/css" href="./assets/vue/viewuiplus.css">
    <script type="text/javascript" src="./assets/vue/vue.global.js"></script>
    <script type="text/javascript" src="./assets/vue/viewuiplus.min.js"></script>
    <script type="text/javascript" src="./assets/vue/axios.min.js"></script>
    <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
</head>

<style scoped>
    #app{
        font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    }
    .layout{
        border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
    .layout-logo{
        width: 100px;
        height: 30px;
        /*background: #515a6e;*/
        border-radius: 3px;
        float: left;
        position: relative;
        top: 15px;
        left: 20px;
        /*color: white;*/
        color: #515a6e;
        line-height: 30px;
        text-align: center;
        font-size: larger;
        font-weight: bolder;
        /*background-image: url("./assets/img/shine.jpg");*/
    }
    .layout-nav{
        width: 550px;
        margin: 0 auto;
        margin-right: 20px;
    }
    .layout-footer-center{
        text-align: center;
    }
    .layout .ivu-layout-header {
        background: #191a23;
    }
    .layout-topMiddleBottom .ivu-menu-light{
        background:none;
        color: #fff
    }

    body::-webkit-scrollbar { width: 0 !important }

    /*[v-cloak]{*/
    /*    　display: none;*/
    /*}*/

</style>

<body>
<div id="app">
    <div class="layout">
        <Layout>
            <Header>
                <i-Menu mode="horizontal" theme="light" :active-name="path">
                    <div class="layout-logo" @click="showBulletscreen">Code Tools</div>
                    <div class="layout-nav">
                        <Menu-Item name="/timestamp" to="/timestamp">
                            <Icon type="ios-swap"></Icon>
                            转换工具
                        </Menu-Item>
                        <Menu-Item name="/data" to="/data">
                            <Icon type="ios-color-wand"></Icon>
                            数据处理
                        </Menu-Item>
                        <Menu-Item name="/adx" to="/adx">
                            <Icon type="ios-crop"></Icon>
                            Adx
                        </Menu-Item>
                        <Menu-Item name="/bulletscreen" to="/bulletscreen" v-if="bulletscreenClick >= 6">
                            <Icon type="ios-film"></Icon>
                            弹幕
                        </Menu-Item>
                        <Menu-Item name="/pixelwars" to="/pixelwars">
                            <Icon type="ios-game-controller-b"></Icon>
                            像素
                        </Menu-Item>
                        <Menu-Item name="/chatgpt" to="/chatgpt">
                            <Icon type="md-chatbubbles"></Icon>
                            ChatGPT
                        </Menu-Item>
                    </div>
                </i-Menu>
            </Header>
            <i-Content :style="{padding: '0px'}">
                <Card>
                    <div :style="{'min-height': contentHeight + 'px'}">

{{end}}