{{define "header"}}

<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <title>CodeDeputy - 开发在线工具</title>
    <meta name="keywords" content="Json格式化工具, Json校验, Json压缩转义, Yaml格式化, Xml格式化, Sql格式化, 加密&amp;解密算法, Hash算法, Base64编解码, Url编解码, ChatGPT在线, Adx素材, 像素大战, 数据处理">
    <meta name="description" content="面向开发人员的免费在线工具, 包括格式化工具Json格式化工具、编码和解码工具、密码和安全工具、ChatGPT在线、Adx素材、像素大战、数据处理">
    <meta name="language" content="en">
    <meta name="robots" content="all">
    <meta name="rating" content="general">
    <base href="/">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <meta name="baidu_union_verify" content="a106b44f013f808cf1697826f55ec4c7">
    <meta name="bytedance-verification-code" content="" />
    <link rel="shortcut icon" href="./assets/img/logo.svg"/>
<!--    <link rel="manifest" href="manifest.webapp">-->

<!--    <link rel="stylesheet" type="text/css" href="./assets/vue/viewuiplus.css">-->
    <link rel="stylesheet" type="text/css" href="./assets/vue/viewuiplus-dark.css">
    <link rel="stylesheet" type="text/css" href="./assets/vue/my.css">
    <script type="text/javascript" src="./assets/vue/vue.global.js"></script>
    <script type="text/javascript" src="./assets/vue/viewuiplus.min.js"></script>
    <script type="text/javascript" src="./assets/vue/axios.min.js"></script>
    <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
</head>

<body>
<div id="app">
    <div class="layout">
        <Layout>
            <Header>
                <i-Menu mode="horizontal" theme="dark" :active-name="path">
                    <div class="layout-logo" @click="logoClick">
                        <img src="./assets/img/logo-2.svg" style="width: 20px; height: 20px; border-color: #ffffff">
                        CodeDeputy
                    </div>
                    <div class="layout-nav">

                        <Submenu name="/con">
                            <template #title>
                                <Icon type="ios-swap" ></Icon>
                                格式转换
                            </template>
                            <Menu-Item name="/timestamp" to="/timestamp">时间戳转换</Menu-Item>
                            <Menu-Item name="/json" to="/json">Json 格式化</Menu-Item>
                            <Menu-Item name="/md5" to="/md5">Md5 加密</Menu-Item>
                            <Menu-Item name="/url" to="/url">URL 解码</Menu-Item>
                            <Menu-Item name="/base64" to="/base64">Base64 解码</Menu-Item>
                            <Menu-Item name="/utf8" to="/utf8">UTF-8 解码</Menu-Item>
                        </Submenu>

                        <Submenu name="/data">
                            <template #title>
                                <Icon type="ios-color-wand" ></Icon>
                                数据处理
                            </template>
                            <Menu-Item name="/data-calculator" to="/data-calculator">计算器</Menu-Item>
                            <Menu-Item name="/data-diff" to="/data-diff">数据对比</Menu-Item>
                            <Menu-Item name="/data-filter" to="/data-filter">数据过滤</Menu-Item>
                            <Menu-Item name="/markdown" to="/markdown">Markdown</Menu-Item>
<!--                            <Menu-Item name="/trans" to="/trans">有道翻译</Menu-Item>-->
                            <Menu-Item name="/json2gostruct" to="/json2gostruct">Json to GoStruct</Menu-Item>
                        </Submenu>

                        <Submenu name="/dev">
                            <template #title>
                                <Icon type="ios-crop" ></Icon>
                                TP
                            </template>
                            <Menu-Item name="/aes" to="/aes">AES 传输加解密</Menu-Item>
                            <Menu-Item name="/price" to="/price">AES 价格加解密</Menu-Item>
                            <Menu-Item name="/adx" to="/adx">Ad Exchange</Menu-Item>
                            <Menu-Item name="/gepip" to="/gepip">GeoIp 解析</Menu-Item>
                        </Submenu>

                        <Submenu name="/ext">
                            <template #title>
                                <Icon type="md-chatbubbles" ></Icon>
                                扩展
                            </template>
                            <Menu-Item name="/chatgpt" to="/chatgpt" v-if="logoClickNumber >= 6">
                                ChatGPT
                            </Menu-Item>
                            <Menu-Item name="/ip" to="/ip">
                                IP 查询
                            </Menu-Item>
                            <Menu-Item name="/map" to="/map">
                                经纬度定位
                            </Menu-Item>
                            <Menu-Item name="/bulletscreen" to="/bulletscreen" v-if="logoClickNumber >= 6">
                                弹幕
                            </Menu-Item>
                            <Menu-Item name="/pixelwars" to="/pixelwars" v-if="logoClickNumber >= 6">
                                像素
                            </Menu-Item>
                        </Submenu>

                    </div>
                </i-Menu>


            </Header>
            <i-Content :style="{padding: '0px'}">
                <Card>
                    <div :style="{'min-height': contentHeight + 'px'}">

{{end}}