{{define "header"}}

<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="utf-8">
    <title>View UI Plus example</title>
    <link rel="stylesheet" type="text/css" href="./assets/vue/viewuiplus.css">
    <script type="text/javascript" src="./assets/vue/vue.global.js"></script>
    <script type="text/javascript" src="./assets/vue/viewuiplus.min.js"></script>
    <script type="text/javascript" src="./assets/vue/axios.min.js"></script>
    <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
</head>

<style scoped>
    #app{
        font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    }
    .layout{
        border: 1px solid #d7dde4;
        background: #f5f7f9;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
    }
    .layout-logo{
        width: 100px;
        height: 30px;
        /*background: #515a6e;*/
        border-radius: 3px;
        float: left;
        position: relative;
        top: 15px;
        left: 20px;
        /*color: white;*/
        color: #515a6e;
        line-height: 30px;
        text-align: center;
        font-size: larger;
        font-weight: bolder;
        /*background-image: url("./assets/img/shine.jpg");*/
    }
    .layout-nav{
        width: 350px;
        margin: 0 auto;
        margin-right: 20px;
    }
    .layout-footer-center{
        text-align: center;
    }
    .layout .ivu-layout-header {
        background: #191a23;
    }
    .layout-topMiddleBottom .ivu-menu-light{
        background:none;
        color: #fff
    }

    body::-webkit-scrollbar { width: 0 !important }

</style>

<body>
<div id="app">
    <div class="layout">
        <Layout>
            <Header>
                <i-Menu mode="horizontal" theme="light" :active-name="path">
                    <div class="layout-logo" @click="showBulletscreen">Code Tools</div>
                    <div class="layout-nav">
                        <Menu-Item name="/timestamp" to="/timestamp">
                            <Icon type="ios-swap"></Icon>
                            转换工具
                        </Menu-Item>
                        <Menu-Item name="/bulletscreen" to="/bulletscreen" v-if="bulletscreenClick >= 6">
                            <Icon type="ios-film"></Icon>
                            弹幕
                        </Menu-Item>
                        <Menu-Item name="/pixelwars" to="/pixelwars">
                            <Icon type="ios-game-controller-b"></Icon>
                            像素
                        </Menu-Item>
                    </div>
                </i-Menu>
            </Header>
            <i-Content :style="{padding: '10px'}">
                <Card>
                    <div :style="{'min-height': contentHeight + 'px'}">

{{end}}