
{{template "header" .}}

<section>
    <div :style='{"height": contentHeight + "px", "border": "0px solid #dcdee2"}'>
        <iframe src="https://lbsyun.baidu.com/jsdemo/demo/yLngLatLocation.htm" style="width: 100%; height: 100%; border-width: 0px"></iframe>
    </div>
</section>

<script>

    var render = {
        data () {
            return {
            }
        },
        watch: {

        },
        methods: {

        },
        mounted(){

        }
    }
</script>

{{template "footer" .}}

<style>
    .ivu-card-body {
        padding: 0px;
    }
</style>
