
{{template "header" .}}

<section>
    <div id="screen" :style='{"height": contentHeight - 150 + "px", "border": "1px solid #dcdee2"}'>
        <!-- <div>text message</div> -->
    </div>
    <div class="send">
        <i-Input search enter-button="发送" placeholder="发送一个弹幕......" v-model="content" @on-search="send"></i-Input>
<!--        <i-button @click="clear">清屏</i-button>-->
    </div>
</section>

<script>

var render = {
    data () {
        return {
            content:"",
        }
    },
    methods: {
        send() {
            var val = this.content
            //将文本框的内容赋值给val后，将文本框的内容清除，以便用户下一次输入
            this.content = ""
            //将文本框内容用div包裹起来，便于后续处理
            var $content = $('<div class="message">' + val + '</div>');
            //获取弹幕墙对象
            $screen = $(document.getElementById("screen"));
            //设置弹幕体出现时的上边距，为任意值
            var top = Math.random() * $screen.height() + 20;
            //设置弹幕体的上边距和左边距
            $content.css({
                top: top + "px",
                left: 20,
                color:this.getRGB(),
            });
            //将弹幕体添加到弹幕墙中
            $('#screen').append($content);
            //弹幕体从左端移动到最右侧，时间为8秒，然后直接删除该元素
            $content.animate({
                left: $screen.width() + 18 - $content.width()
            }, 12000, function () {
                $(this).remove();
            });
        },
        clear(){
            $('#screen').html("");
        },
        getRGB(){
            let r = parseInt(Math.random() * 256), //0-255
                g = parseInt(Math.random() * 256), //0-255
                b = parseInt(Math.random() * 256); //0-255
            return `rgb(${r},${g},${b})` //使用了es6的模板字符串
        }
    },
    mounted(){
    }
}
</script>

{{template "footer" .}}

<style>

#screen {
    background-color: #fff;
    width: 100%;
    border: 1px solid rgb(229, 229, 229);
    font-size: 14px;
    z-index: 2;
    overflow: hidden;
}

.message {
    position: absolute;
    font-weight: bold;
    z-index: 1;
}

.send {
    margin-top: 10px;
    background-color: #fff;
    width: 100%;
    font-size: 14px;
}
</style>
