<!DOCTYPE html>
<html lang="en" litewebchat-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OpenAi</title>
    <link type="text/css" href="https://cdn.jsdelivr.net/gh/MorFansLab/LiteWebChat_Frame/dist/css/litewebchat.min.css" rel="stylesheet"/>
    <link type="text/css" href="https://cdn.jsdelivr.net/gh/MorFansLab/LiteWebChat_Frame/dist/css/litewebchat_input.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/MorFansLab/LiteWebChat_Frame/dist/js/litewebchat_input.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/MorFansLab/LiteWebChat_Frame/dist/js/litewebchat_render.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/MorFansLab/LiteWebChat_Frame/lite-chatbox.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/MorFansLab/LiteWebChat_Frame/litewebchatinput.min.js"></script>

    <link rel="stylesheet" type="text/css" href="./assets/vue/viewuiplus.css">
    <script type="text/javascript" src="./assets/vue/vue.global.js"></script>
    <script type="text/javascript" src="./assets/vue/viewuiplus.min.js"></script>
    <script type="text/javascript" src="./assets/vue/axios.min.js"></script>
    <script type="text/javascript" src="./assets/js/jquery.min.js"></script>
</head>

<body>
    <div class="lite-chatmaster">
        <div class="lite-chatbox"></div>

        <div class="lite-chatinput">
            <div class="lite-chatinput">

                <hr class="boundary" />

                <div id="app">

                    <i-button type="primary" shape="circle" icon="md-key" @click="modal = true" size="small" style="margin-left: 12px;"></i-button>

                    <i-Switch style="margin-left: 10px" v-model="isImgModel">
                        <template #open>
                            <span>图</span>
                        </template>
                        <template #close>
                            <span>文</span>
                        </template>
                    </i-Switch>

                    <Input-Number v-model="imgNumber" size="small" style="margin-left: 10px; width: 45px" v-show="isImgModel" max="5" min="1"></Input-Number>

                    <i-input type="textarea" :border="false" :autofocus="true" :rows="3" v-model="chatinput" ></i-input>

                    <hr class="boundary" />

                    <button class="send" @click="send" @keyup.enter="send" style="margin-top: 2px">发送</button>

                    <Modal v-model="modal" width="480">
                        <template #header>
                            <p>设置 Openai Token:</p>
                        </template>
                        <div style="text-align:center">
                            <i-Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="70">
                                <Form-Item label="Token:" prop="token">
                                    <i-input v-model="formValidate.token" style="width: 95%"/>
                                </Form-Item>
                            </i-Form>
                        </div>
                        <template #footer>
                            <i-button type="info" long @click="saveToken" style="width: 20%">确定</i-button>
                        </template>
                    </Modal>

                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    const htmls = [];
    const myMixin = {
        data () {
            return {
                formValidate: {
                    token: '',
                },
                ruleValidate: {
                    token: [
                        {required: true, message: 'token 不能为空。', trigger: 'blur'}
                    ],
                },
                chatinput: "",
                modal: false,
                isSearch: false,
                isImgModel:false,
                imgNumber:1,
                selfImg: "https://api.multiavatar.com/" + new Date().valueOf() + ".png"
            }
        },
        methods: {
            saveToken(){
                this.$refs["formValidate"].validate((valid) => {
                    if (valid) {
                        this.setCookie({"openai-token":this.formValidate.token}, 1)
                        this.modal = false
                        this.validateToken()
                    }
                })
            },
            showModal(){
                this.modal = true
            },
            send() {

                if (this.chatinput.length < 1) {
                    return
                }

                setTimeout(() => {
                    this.chatinput = "";
                }, 100)

                if (this.isSearch) {
                    htmls.push({
                        messageType: "tips",
                        html: "请稍等，正在查询中...",
                    });
                    return
                }

                htmls.push({
                    messageType: "text",
                    headIcon: this.selfImg,
                    name: "",
                    position: "right",
                    html: this.chatinput,
                });

                htmls.push({
                    messageType: "tips",
                    html: this.getNowTime()+" 请稍等，正在查询中...",
                });
                beforeRenderingHTML(htmls, ".lite-chatbox");

                this.isSearch = true

                this.checkToken()

                if (!this.isImgModel) {
                    this.completions()
                } else {
                    this.img()
                }
            },
            async checkToken(){
                axios.post('/chatgpt/checkToken', {
                    token: this.formValidate.token,
                    text: this.chatinput,
                    isImgModel: this.isImgModel,
                }).then(function (response) {
                })
            },
            async completions() {

                //参数详解：https://blog.csdn.net/hekaiyou/article/details/128303729
                let data = JSON.stringify({
                    model: "text-davinci-003",
                    prompt: this.chatinput,
                    temperature: 0.8, //创意性， 0 无创意
                    max_tokens: 1024,
                    frequency_penalty:0.0,
                });

                let config = {
                    method: "post",
                    url: "https://api.openai.com/v1/completions",
                    headers: {
                        "Content-Type": "application/json",
                        Authorization: "Bearer "+ this.formValidate.token,
                    },
                    data: data,
                };
                axios(config).then(
                    (response) => {
                        console.log(response.data);
                        var txt = response.data.choices[0].text;

                        htmls.push({
                            messageType: "text",
                            headIcon: "./assets/img/openai.png",
                            name: "ChatGPT",
                            position: "left",
                            html: txt.trim(),
                        });
                        beforeRenderingHTML(htmls, ".lite-chatbox");

                        this.isSearch = false
                    },
                    (error) => {
                        htmls.push({
                            messageType: "tipsWarning",
                            html: "查询失败：" + error.message,
                        });
                        beforeRenderingHTML(htmls, ".lite-chatbox");

                        this.isSearch = false
                    }
                );
            },
            async img() {

                if (this.imgNumber > 5 || this.imgNumber < 1) {
                    this.imgNumber = 1
                }

                //参数详解：https://blog.csdn.net/hekaiyou/article/details/128303729
                let data = JSON.stringify({
                    prompt: this.chatinput,
                    n: this.imgNumber,
                    size: "256x256"
                });

                let config = {
                    method: "post",
                    url: "https://api.openai.com/v1/images/generations",
                    headers: {
                        "Content-Type": "application/json",
                        Authorization: "Bearer "+ this.formValidate.token,
                    },
                    data: data,
                };
                axios(config).then(
                    (response) => {
                        console.log(response.data);

                        if (response.data.data.length > 0 ) {
                            let urlList = ""
                            for (let i=0; i < response.data.data.length; i ++) {
                                let url = response.data.data[i].url;
                                let marginLeft = 0
                                if (i > 0) {
                                    marginLeft = 5
                                }
                                urlList += `<img src="${url}" style="width: 256px; height: 256px; margin-left: ${marginLeft}px"/>`
                            }

                            htmls.push({
                                messageType: "raw",
                                headIcon: "./assets/img/openai.png",
                                name: "ChatGPT",
                                position: "left",
                                html: `${urlList}`,

                            });
                            beforeRenderingHTML(htmls, ".lite-chatbox");
                        }

                        this.isSearch = false
                    },
                    (error) => {
                        htmls.push({
                            messageType: "tipsWarning",
                            html: "查询失败：" + error.message,
                        });
                        beforeRenderingHTML(htmls, ".lite-chatbox");
                        this.isSearch = false
                    }
                );
            },
            validateToken(){
                let res = this.formValidate.token.length === 51

                if (res) {
                    htmls.push({
                        messageType: "text",
                        headIcon: "./assets/img/openai.png",
                        name: "ChatGPT",
                        position: "left",
                        html: "你好",
                    });
                    beforeRenderingHTML(htmls, ".lite-chatbox");
                } else {
                    htmls.push({
                        messageType: "tipsDanger",
                        html: "配置错误，请填写正确的token",
                    });
                    beforeRenderingHTML(htmls, ".lite-chatbox")

                    setTimeout(() => {
                        this.showModal()
                    }, 1500)
                }
            },
            getNowTime(){
                let d = new Date();
                let h = d.getHours()+""
                h = h.length === 1 ? "0"+h : h
                let m = d.getMinutes()+""
                m = m.length === 1 ? "0"+m : m
                return  h+":"+m
            },
            setCookie(json, days) {
                // 设置过期时间
                let data = new Date(
                    new Date().getTime() + days * 24 * 60 * 60 * 1000
                ).toUTCString();

                for (var key in json) {
                    document.cookie = key + "=" + json[key] + "; expires=" + data;
                }
            },
            getCookie(name) {
                var arr = document.cookie.match(new RegExp("(^| )" + name + "=([^;]*)(;|$)"));
                if (arr != null) {
                    return unescape(arr[2])
                } else {
                    return null
                }
            }
        },
        mounted() {
            this.formValidate.token = this.getCookie("openai-token")
            if (this.formValidate.token == null || this.formValidate.token.length === 0) {
                this.showModal()
                return
            }
            this.validateToken()
        },
        created() {
            self = this
            document.onkeydown = function () {
                let e = window.event || arguments.callee.caller.arguments[0];
                if (e.keyCode === 13 && !e.ctrlKey) {
                    self.send();
                }
                if (e.keyCode === 13 && e.ctrlKey) {
                    self.chatinput += "\n";
                }
            };
        }
    }

    const app = Vue.createApp(myMixin);
    app.use(ViewUIPlus);
    app.mount("#app");
</script>

<script>
    /**
     * @description 删除cookie
     * @param {String} name 需要删除cookie的key
     */
    function clearCookie(name) {
        let json = {};
        json[name] = '';
        setCookie(json, -1)
    }
</script>

<style >
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    .lite-chatmaster {
        height: 100%;
        width: 100%;
    }

    .lite-chatbox {
        background: linear-gradient(20deg,#c1c0c0cc 0,#c5ede9 100%);
    }

    .ivu-modal-header {
        border-bottom:none;
    }

    .ivu-modal-footer {
        border-top:none;
    }
</style>