
{{template "header" .}}

<section >
    <div style="padding: 12px;margin-left: 50px">
        <br>

        <Icon type="ios-clock-outline" size="48" style="width: auto; margin-left: 20px;color:#620fad"></Icon>
        <b style="margin-left: 16px;font-size: 15px">时间戳: </b>
        <span v-html="now" style="margin-left: 5px;"></span>

        <b style="margin-left: 20px;font-size: 15px">当前时区: </b>

        <i-Select v-model="timezone" @on-change="changeTimezone" style="margin-left: 5px;width:200px">
            <i-Option v-for="item in timezoneList" :value="item.value" :key="item.value">
                <span v-html="item.label"></span>
            </i-Option>
            <span v-html="timezone"></span>
        </i-Select>

         <br><br><br>

        <Divider orientation="left" size="small"  style="width: 50%">时间戳转换</Divider><br>

        <div>
            <i-Input v-model="time1" style="width: auto; margin-left: 10px;" on-change="exchange1"></i-Input>
            <span v-html="date1" style="margin-left: 10px;"></span>
        </div> <br><br><br>

        <Divider orientation="left" size="small">日期转换</Divider><br>

        <div>
            <i-Input v-model="date2" style="width: auto; margin-left: 10px;"></i-Input>
            <span v-html="time2" style="margin-left: 10px;"></span>
        </div> <br>
    </div>
</section>


<script>

    var render = {
        data () {
            return {
                now:0,
                time1: "",
                date1: "",
                time2: "",
                date2: "",
                timezone: '8',
                timezoneList:[
                    {
                        value: '8',
                        label: 'UTC+8 中国标准时间'
                    },
                    {
                        value: '0',
                        label: 'UTC+0 格林威治标准时间'
                    },
                    {
                        value: '-8',
                        label: 'UTC-8 太平洋标准时间'
                    },
                    {
                        value: '-5',
                        label: 'UTC-5 美国东部标准时区'
                    },
                ]
            }
        },
        watch:{
            time1(){
                this.exchange1()
            },
            date2(){
                this.exchange2()
            },
        },
        methods: {
            changeTimezone(){
                this.exchange1()
                this.exchange2()
            },
            exchange1(){
                this.date1 = this.exchangeT2D(this.time1, this.timezone)
            },
            exchange2(){
                this.time2 = this.exchangeD2T(this.date2, this.timezone)
            },
            tt(){
                this.now = Date.parse(new Date()) / 1000;
                setTimeout(this.tt, 1000)
            },
        },
        mounted(){
            this.now = Date.parse(new Date()) / 1000;

            this.time1 = this.now

            this.date2 = this.exchangeT2D(this.time1, this.timezone)

            setTimeout(this.tt, 1000)
        }
    }
</script>

{{template "footer" .}}
