
{{template "header" .}}

<section >
    <div :style='{"height": contentHeight + "px", "border": "1px solid #dcdee2"}'>
        <div id="jsonEditor" style="height: 100%;width: 100%" ></div>
    </div>
</section>


<script>
    var require = {paths: {vs: 'https://cdn.jsdelivr.net/npm/monaco-editor@0.34.0/min/vs' } };
</script>

<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.34.0/min/vs/loader.js"></script>

<script>

    var render = {
        data () {
            return {
                editor:0
            }
        },
        watch:{

        },
        methods: {

        },
        mounted(){
            require(['vs/editor/editor.main'], () => {
                monaco.editor.setTheme('vs-light');

                model = monaco.editor.createModel(``, "json")
                this.editor = monaco.editor.create(document.getElementById('jsonEditor'), {
                    model: model,
                    wordWrap: true,
                    autoIndent: true, // 自动布局
                    automaticLayout: false, // 自动布局
                    formatOnPaste: false, //是否粘贴自动格式化
                    foldingImportsByDefault: true,
                    scrollBeyondLastLine:false,
                    gotoLocation:false,
                    foldingStrategy: "indentation",
                    useShadowDOM:true,
                });

                model.onDidChangeContent((e) => {
                    if (!e.isFlush) {
                        ct = model.getValue()
                        ct1 = ct.replaceAll(" ", "")
                        ct1 = ct1.replaceAll("\r", "")
                        ct1 = ct1.replaceAll("\n", "")
                        ct1 = ct1.replaceAll("\u0026", "&")
                        if (ct1.substr(0, 3) === "{\\\"") {
                            ct = ct.replace(/\\"/g, '"')
                            ct = ct.replace(/\/\/"/g, '/')
                            model.setValue(ct)
                            this.editor.getAction('editor.action.formatDocument').run();
                        }
                    }
                })

                monaco.editor.onDidChangeMarkers(([uri]) => {

                    const markers = monaco.editor.getModelMarkers({resource: uri})

                    if (markers.length === 0) {
                        this.editor.getAction('editor.action.marker.nextInFiles').run();
                    } else {
                        this.editor.getAction('editor.action.marker.next').run();
                    }

                    for (var i=0;i<markers.length;i++){
                        console.log(i)
                    }

                    console.log('markers:', markers.map(
                        ({ message, startLineNumber, startColumn, endLineNumber, endColumn }) =>
                            `${message} [${startLineNumber}:${startColumn}-${endLineNumber}:${endColumn}]`,
                    ))
                })

            });

            setInterval(()=>{
                if (this.editor) {
                    this.editor.getAction('editor.action.formatDocument').run();
                }
            }, 800)
        }
    }
</script>

{{template "footer" .}}

<style>
    .md5-label {
        font-size: 12px;
        font-weight: bold;
    }
</style>