
{{template "header" .}}

<section >
    <div class="demo-split" :style='{"height": contentHeight + "px", "border": "1px solid #dcdee2"}'>
        <div id="jsonEditor" style="height: 100%;width: 100%" ></div>
    </div>

<!--        <Tab-Pane label="文本对比" name="text-diff">-->
<!--            <div class="demo-split" :style='{"height": contentHeight - 52 + "px", "border": "1px solid #dcdee2"}'>-->
<!--                <iframe id="iframe" src="https://editor.mergely.com/" style="width:100%;height:100%;top: 0px;"></iframe>-->
<!--            </div>-->
<!--        </Tab-Pane>-->
</section>

<script>
    var require = {paths: {vs: 'https://cdn.jsdelivr.net/npm/monaco-editor@0.23.0/min/vs' } };
</script>

<script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.23.0/min/vs/loader.js"></script>

<script>

    var render = {
        data () {
            return {
                content1:"",
                content2:"",
            }
        },
        watch:{

        },
        methods: {
            getShareData() {
                return {
                    "content1":this.content1,
                    "content2":this.content2,
                }
            },
            initShareData(data) {
                this.content1 = data["content1"]
                this.content2 = data["content2"]
                this.render(this.content1, this.content2)
            },
            initOrInitShareDataFail(){
                this.render("", "")
            },
            render(content1, content2){
                require(['vs/editor/editor.main'], () => {
                    monaco.editor.setTheme('vs-light');
                    const editor = monaco.editor.createDiffEditor(document.getElementById('jsonEditor'),{
                        originalEditable: true,
                        wordWrap: true,
                    });

                    modelOriginal = monaco.editor.createModel(content1, "json/string")
                    modelModified = monaco.editor.createModel(content2, "json/string")

                    editor.setModel({
                        original: modelOriginal,
                        modified: modelModified,
                    });

                    modelOriginal.onDidChangeContent((e) => {
                        this.content1 = modelOriginal.getValue()
                    })

                    modelModified.onDidChangeContent((e) => {
                        this.content2 = modelModified.getValue()
                    })
                });
            }
        },
        mounted(){

        }
    }
</script>

{{template "footer" .}}
