
{{template "header" .}}

<section>
    <div class="pixel-grid">
        <div class="pixel-grid-item" v-for="(color, idx) in pixelArr" :style='{"width":100/cols + "%", "height":contentHeight/cols + "px", "backgroundColor":color}' @click="setColor(idx)">
        </div>
    </div>

    <div class="color-picker">
        <Color-Picker v-model="color" recommend></Color-Picker>
    </div>
</section>

<script>

    var render = {
        data() {
            return {
                cols: 150,
                pixelNum : 0,
                pixelArr: [],
                color:""
            }
        },
        methods: {
            getColor(){
                var self = this
                axios.get('/pixelwars/color').then(function (response) {
                    if (response.data.length > 0) {
                        response.data.forEach((item) => {
                            self.pixelArr[item.id] = item.color
                        })
                    }
                })
            },
            setColor(idx) {
                this.pixelArr[idx] = this.color

                axios.post('/pixelwars/color', {
                    id: idx,
                    color: this.color
                }).then(function (response) {
                    let resp = response.data;
                })
            }
        },
        mounted() {


            this.color = this.getRGB()

            for (i = 0; i < this.pixelNum ; i ++) {
                this.pixelArr[i] = ""
            }

            this.getColor()

            this.contentHeight = this.contentWidth

            window.onresize = () => {
                return (() => {
                    this.contentHeight = document.body.clientWidth
                })()
            }
        },
        created(){
            this.pixelNum = this.cols * this.cols
        }
    }
</script>

{{template "footer" .}}

<style>
    .pixel-grid {
        position: relative;
    }

    .pixel-grid-item {
        box-shadow: 1px 0 0 0 #e8eaec, 0 1px 0 0 #e8eaec, 1px 1px 0 0 #e8eaec, 1px 0 0 0 #e8eaec inset, 0 1px 0 0 #e8eaec inset;
        position: relative;
        float: left;
        width: 33.33%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 0;
        border-radius: 0;
    }

    .color-picker {
        z-index: 10;
        position: fixed;
        cursor: pointer;
        bottom: 50px;
        right: 50px;
    }

</style>