
{{template "header" .}}

<section>
<!--    <Grid :col="cols" >-->
<!--        <Grid-Item class="grid-item" v-for="item in pixelArr" :style='{"height":contentWidth/cols + "px"}'>-->
<!--&lt;!&ndash;            <span v-html="item"></span>&ndash;&gt;-->
<!--        </Grid-Item>-->
<!--    </Grid>-->


    <div class="pixel-grid">
        <div class="pixel-grid-item" v-for="item in pixelArr" :style='{"width":100/cols + "%", "height":contentWidth/cols + "px"}'>

        </div>
    </div>
</section>

<script>

    var render = {
        data() {
            return {
                cols: 200,
                pixelNum : 40000,
                pixelArr: [],
            }
        },
        methods: {},
        mounted() {
            for (i = 0; i < this.pixelNum ; i ++) {
                this.pixelArr[i] = i
            }
        }
    }
</script>

{{template "footer" .}}

<style>
    .ivu-grid-item-main {
        padding: 0px !important;
    }

    .pixel-grid {
        position: relative;
    }

    .pixel-grid-item {
        box-shadow: 1px 0 0 0 #e8eaec, 0 1px 0 0 #e8eaec, 1px 1px 0 0 #e8eaec, 1px 0 0 0 #e8eaec inset, 0 1px 0 0 #e8eaec inset;
        position: relative;
        float: left;
        width: 33.33%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 0;
        border-radius: 0;
    }

</style>