
{{template "header" .}}

<section>
    <div class="pixel-grid">
        <div class="pixel-grid-item" v-for="(color, idx) in pixelArr" :style='{"width":100/cols + "%", "height":contentHeight/cols + "px", "backgroundColor":color}' @click="setColor(idx)">
        </div>
    </div>

    <div class="color-picker">
        <Color-Picker v-model="color" recommend></Color-Picker>
        <Tooltip :content="statusTip()" theme="light">
            <Icon type="ios-ionitron-outline" :color="statusColor()" size="18" style="margin-left: 5px"></Icon>
        </Tooltip>
    </div>
</section>

<script>

    var render = {
        data() {
            return {
                cols: 100,
                pixelNum : 0,
                pixelArr: [],
                color:"",
                websocket:"",
            }
        },
        methods: {
            getColor(){
                var self = this
                axios.get('/pixelwars/color').then(function (response) {
                    if (response.data.length > 0) {
                        response.data.forEach((item) => {
                            self.pixelArr[item.id] = item.color
                        })
                    }
                })
            },
            setColor(idx) {
                this.pixelArr[idx] = this.color

                var self = this
                axios.post('/pixelwars/color', {
                    id: idx,
                    color: this.color
                }).then(function (response) {
                    let resp = response.data;

                    self.webSocketSend(idx+":"+self.color)
                })
            },
            initWebSocket(){
                this.websocket = new WebSocket("ws://"+this.host+"/pixelwars/websocket")

                this.websocket.onerror = () => {
                    console.log("websocket error")
                }

                this.websocket.onopen = () => {
                    console.log("websocket onopen")
                }

                this.websocket.onmessage = (evt) => {
                    var msgArr = evt.data.split(":")

                    ip = msgArr[0]
                    pixelIdx = msgArr[1]
                    pixelColor = msgArr[2]

                    this.pixelArr[pixelIdx] = pixelColor

                    console.log("websocket onmessage: " + evt.data)
                }

                this.websocket.onclose = () => {
                    console.log("websocket onclose")
                }

                window.onbeforeunload = () => {
                    this.websocket.close();
                };
            },
            webSocketSend(msg){
                if (this.websocket.readyState === 1) {
                    this.websocket.send(msg)
                }
            },
            statusColor(){
                return this.websocket.readyState === 1 ? "green" : "red"
            },
            statusTip(){
                s =  this.websocket.readyState === 1 ? "已连接。" : "已断开 (请刷新界面)。"
                return "WebSocket " + s
            }
        },
        mounted() {
            this.color = this.getUniqueRGB()

            for (i = 0; i < this.pixelNum ; i ++) {
                this.pixelArr[i] = ""
            }

            this.getColor()

            this.contentHeight = this.contentWidth

            window.onresize = () => {
                return (() => {
                    this.contentHeight = document.body.clientWidth
                })()
            }

            this.initWebSocket()
        },
        created(){
            this.pixelNum = this.cols * this.cols
        }
    }
</script>

{{template "footer" .}}

<style>
    .pixel-grid {
        position: relative;
    }

    .pixel-grid-item {
        box-shadow: 1px 0 0 0 #e8eaec, 0 1px 0 0 #e8eaec, 1px 1px 0 0 #e8eaec, 1px 0 0 0 #e8eaec inset, 0 1px 0 0 #e8eaec inset;
        position: relative;
        float: left;
        width: 33.33%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 0;
        border-radius: 0;
    }

    .color-picker {
        z-index: 10;
        position: fixed;
        cursor: pointer;
        bottom: 50px;
        right: 50px;
    }

</style>