
{{template "header" .}}

<section>
    <Tabs model-value="timestamp" :animated="false">

<!------------------------------------------------------------------------------------>

        <Tab-Pane label="时间戳转换" name="timestamp">

            <div style="padding: 12px">

                <br>

                <Icon type="ios-clock-outline" size="48" style="width: auto; margin-left: 10px;"></Icon>
                北京时间: <span v-html="now" style="margin-left: 5px;"></span>

                 <br><br><br>

                <Divider orientation="left" size="small"  style="width: 50%">时间戳转换</Divider><br>

                <div>
                    <i-Input v-model="time1" style="width: auto; margin-left: 10px;" on-change="exchange1"></i-Input>
                    <span v-html="date1" style="margin-left: 10px;"></span>
                </div> <br><br><br>

                <Divider orientation="left" size="small">日期转换</Divider><br>

                <div>
                    <i-Input v-model="date2" style="width: auto; margin-left: 10px;"></i-Input>
                    <span v-html="time2" style="margin-left: 10px;"></span>
                </div> <br>
            </div>
        </Tab-Pane>

<!------------------------------------------------------------------------------------>

        <Tab-Pane label="Json格式化" name="json">
            <div class="demo-split" :style='{"height": contentHeight - 52 + "px", "border": "1px solid #dcdee2"}'>
                <Split v-model="split">
                    <template #left>
                        <div class="demo-split-pane">
                            <i-Input v-model="jsonData" type="textarea" :border="false" :rows="(contentHeight - 63) / 21"></i-Input>
                        </div>
                    </template>
                    <template #right>
                        <div class="demo-split-pane">
                            <i-Input v-model="jsonDataFormatted" type="textarea" :border="false" :rows="(contentHeight - 63)  / 21"></i-Input>
                        </div>
                    </template>
                </Split>
            </div>
        </Tab-Pane>

<!------------------------------------------------------------------------------------>

        <Tab-Pane label="MD5加密" name="md5">
            <div style="width: 600px; padding: 12px;float: left">
                <i-Input v-model="md5_content" type="textarea" :rows="18"></i-Input>
                <!--<i-button type="info" style="margin-top: 10px" @click="md5" ghost>MD5 >></i-button>-->
            </div>

            <div style="width: 400px; padding: 12px;float: left;margin-left: 20px"><br>
                <span class="md5-label">32位大写&nbsp;</span> <i-Input v-model="md5_32_upper" style="width:80%;"></i-Input> <br><br>

                <span class="md5-label">32位小写&nbsp;</span> <i-Input v-model="md5_32_lower" style="width:80%;"></i-Input> <br><br>

                <span class="md5-label">16位大写&nbsp;</span> <i-Input v-model="md5_16_upper" style="width:80%;"></i-Input> <br><br>

                <span class="md5-label">16位小写&nbsp;</span> <i-Input v-model="md5_16_lower" style="width:80%;"></i-Input> <br><br>
            </div>
        </Tab-Pane>

<!------------------------------------------------------------------------------------>

        <Tab-Pane label="URL解码" name="url">
            <div style="width: 600px; padding: 12px;float: left">
                <i-Input v-model="urlContent" type="textarea" :rows="18"></i-Input>

                <i-button type="info" style="margin-top: 10px" @click="urlCode(1)" ghost>Url转码 >></i-button> &nbsp;&nbsp;
                <i-button type="warning" style="margin-top: 10px" @click="urlCode(2)" ghost>Url解码 >></i-button>
            </div>

            <Icon type="ios-arrow-dropright-circle" style="float: left;margin-left: 10px;margin-top: 160px" size="25"></Icon>

            <div style="width: 600px; padding: 12px;float: left;margin-left: 10px">
                <i-Input v-model="url2Content" type="textarea" :rows="18"></i-Input>
            </div>
        </Tab-Pane>

<!------------------------------------------------------------------------------------>

        <Tab-Pane label="有道翻译" name="trans">
            <div class="demo-split" :style='{"height": contentHeight - 52 + "px", "border": "1px solid #dcdee2"}'>
                <Split v-model="split">
                    <template #left>
                        <div class="demo-split-pane">
                            <i-Input v-model="transData" type="textarea" :border="false" :rows="(contentHeight - 63) / 21"></i-Input>
                        </div>
                    </template>
                    <template #right>
                        <div class="demo-split-pane">
                            <i-Input v-model="transDataDone" type="textarea" :border="false" :rows="(contentHeight - 63)  / 21"></i-Input>
                        </div>
                    </template>
                </Split>
            </div>
        </Tab-Pane>

<!------------------------------------------------------------------------------------>

<!--        <Tab-Pane label="HTTP 请求" name="http">-->
<!--            <div class="demo-split" :style='{"height": contentHeight - 52 + "px", "padding":"10px"}'>-->
<!--                <i-Input v-model="transDataDone" type="textarea" autosize style="width:50%"></i-Input>-->
<!--            </div>-->
<!--        </Tab-Pane>-->

<!------------------------------------------------------------------------------------>

        <Tab-Pane label="AES加解密" name="aes">
            <div style="padding-left: 10px">

                <i-Switch size="large" v-model="aesType">
                    <template #open>
                        <span>加密</span>
                    </template>
                    <template #close>
                        <span>解密</span>
                    </template>
                </i-Switch>

                <span class="md5-label" style="margin-left: 20px">密钥（s）：</span> <i-Input v-model="aesToken" style="width:300px;"></i-Input>

                <Tooltip placement="right-start" style="display: inline;margin-left:20px;">
                    <a target="_blank" href="https://conf-inner.tradplusad.com/pages/viewpage.action?pageId=2835243" ><Icon type="ios-alert"></Icon>提示</a>
                    <template #content>
                        <p>1. AES 256 ECB 加密，base64 编码</p>
                        <p>2. 密钥长度统一32位</p>
                    </template>
                </Tooltip >

            </div><br/>

            <div class="demo-split" :style='{"height": contentHeight - 52 + "px", "border": "1px solid #dcdee2"}'>
                <Split v-model="split">
                    <template #left>
                        <div class="demo-split-pane">
                            <i-Input v-model="aesData1" type="textarea" :border="false" :rows="(contentHeight - 63) / 21"></i-Input>
                        </div>
                    </template>
                    <template #right>
                        <div class="demo-split-pane">
                            <i-Input v-model="aesData2" type="textarea" :border="false" :rows="(contentHeight - 63)  / 21"></i-Input>
                        </div>
                    </template>
                </Split>
            </div>
        </Tab-Pane>

<!------------------------------------------------------------------------------------>

        <Tab-Pane label="数据筛选" name="data-filter">

            <div class="demo-split" :style='{"height": clientHeight-200 + "px", "border": "1px solid #dcdee2"}'>
                <Split v-model="splitDataFilter">
                    <template #left>
                        <div class="demo-split-pane">
                            <i-Input v-model="dataFilterPrimary" type="textarea" :border="false" :rows="(clientHeight - 210) / 21" placeholder="正文内容......"></i-Input>
                        </div>
                    </template>
                    <template #right>
                        <div class="demo-split-pane">
                            <i-Input v-model="dataFilterSecondary" type="textarea" :border="false" :rows="(clientHeight - 210) / 21" placeholder="副文内容......"></i-Input>
                        </div>
                    </template>
                </Split>
            </div>

            <div style="margin-top: 10px">
                <i-button type="info"  @click="filter(1)" ghost>筛选 >></i-button> &nbsp;&nbsp;
                <i-button type="warning"  @click="filter(2)" ghost>反向筛选 >></i-button>

                <span style="margin-left: 10px" v-html="'正文:'+dataFilterPrimaryLineNumber + '   ' + '副文:'+dataFilterSecondaryLineNumber + '   ' + '结果:'+dataFilterResultLineNumber "></span>
            </div>
            <div class="demo-split-pane" style="margin-top: 10px;width: 60%">
                <i-Input v-model="dataFilterResult" type="textarea" :border="true" :rows="(contentHeight - clientHeight)/ 21 " placeholder="结果内容......"></i-Input>
            </div>
        </Tab-Pane>

    </Tabs>

</section>

<script type="text/javascript" src="./assets/js/md5.js"></script>
<script type="text/javascript" src="./assets/js/formatJson.js"></script>

<script>

    var render = {
        data () {
            return {
                now:0,
                time1: "",
                date1: "",
                time2: "",
                date2: "",

                jsonData: "",
                jsonDataFormatted: "",
                split: 0.48,

                md5_content:"",
                md5_32_upper:"",
                md5_32_lower:"",
                md5_16_upper:"",
                md5_16_lower:"",

                urlContent:"",
                url2Content:"",

                transData: "",
                transDataDone: "",

                aesData1:"",
                aesData2:"",
                aesType:true,
                aesToken:"",

                splitDataFilter:0.6,
                dataFilterPrimary:"",
                dataFilterSecondary:"",
                dataFilterResult:"",
                dataFilterPrimaryLineNumber:0,
                dataFilterSecondaryLineNumber:0,
                dataFilterResultLineNumber:0,
            }
        },
        watch:{
            jsonData(v){
                this.jsonDataFormatted = formatJson(v)
            },
            md5_content(v){
                this.md5(v)
            },
            time1(){
                this.exchange1()
            },
            date2(){
                this.exchange2()
            },
            transData(v){
                this.trans(v)
            },
            aesData1(){
                this.aes()
            },
            aesType(){
                this.aes()
            },
            aesToken(){
                this.aes()
            },
            dataFilterPrimary(){
                this.getDataFilterLineNumber()
            },
            dataFilterSecondary(){
                this.getDataFilterLineNumber()
            },
            dataFilterResult(){
                this.getDataFilterLineNumber()
            },
        },
        methods: {
            exchange1(){
                this.date1 = this.exchangeT2D(this.time1)
            },
            exchange2(){
                this.time2 = this.exchangeD2T(this.date2)
            },
            tt(){
                this.now = Date.parse(new Date()) / 1000;
                setTimeout(this.tt, 1000)
            },
            md5(v) {
                this.md5_32_lower = hex_md5(v)
                this.md5_32_upper = this.md5_32_lower.toUpperCase()
                this.md5_16_lower = this.md5_32_lower.substr(8, 16)
                this.md5_16_upper = this.md5_32_upper.substr(8, 16)
            },
            urlCode(t) {
                if (t === 1) {
                    this.url2Content = escape(this.urlContent)
                } else {
                    this.url2Content = unescape(this.urlContent)
                }
            },
            trans(t) {
                var self = this
                axios.get('/timestamp/trans?t='+t).then(function (response) {
                    let resp = response.data
                    self.transDataDone = resp.result.transTgt
                    console.log(resp)
                })
            },
            aes() {

                if (this.aesData1 == "") {
                    this.aesData2 = ""
                    return
                }

                var self = this
                var api = ""
                var tip = ""

                if (this.aesType) {
                    api = "http://www.mingyuan.site/aes-encode"
                    tip ="加密"
                } else {
                    api = "http://www.mingyuan.site/aes-decode"
                    tip ="解密"
                }

                axios.post(api,
                    this.aesData1,
                    {
                        headers:{
                            s: this.aesToken
                        }
                    }
                ).then(function (response) {
                    if (response.status == 200 && response.data != 'nil\n') {
                        let resp = response.data
                        resp2 = JSON.stringify(resp)
                        if (resp2.substring(0, 1) == "\"") {
                            resp2 = resp2.substring(1, resp2.length-3)
                        }
                        self.aesData2 = resp2
                    } else {
                        self.aesData2 = tip + "失败."
                    }
                }).catch((error) => {
                    console.log(error);
                    self.aesData2 = tip + "失败."
                })
            },
            filter(filterType){

                var recordsPrimary = this.dataFilterPrimary.split("\n")
                var recordsSecondary = this.dataFilterSecondary.split("\n")
                var result = ""
                var existsRecords = []

                for (i = 0; i < recordsPrimary.length ; i ++) {

                    var p = recordsPrimary[i]
                    var isInsert = false
                    var isInsert2 = true

                    if (p.length == 0) {
                        continue
                    }

                    for (j = 0; j < recordsSecondary.length ; j ++) {
                        var s = recordsSecondary[j]

                        if (s.length == 0) {
                            continue
                        }

                        if (filterType == 1 && p.indexOf(s) != -1)  {
                            isInsert = true
                            break
                        }
                        if (filterType == 2 && p.indexOf(s) != -1)  {
                            isInsert2 = false
                            break
                        }
                    }

                    if ((filterType == 1 && isInsert) || (filterType == 2 && isInsert2)) {
                        result += p+"\n"
                    }
                }

                this.dataFilterResult = result.trim("\n")
            },
            getDataFilterLineNumber(){
                this.dataFilterPrimaryLineNumber = this.dataFilterPrimary.length > 0 ? this.dataFilterPrimary.split("\n").length : 0
                this.dataFilterSecondaryLineNumber = this.dataFilterSecondary.length > 0 ? this.dataFilterSecondary.split("\n").length : 0
                this.dataFilterResultLineNumber = this.dataFilterResult.length > 0 ? this.dataFilterResult.split("\n").length : 0
            }
        },
        mounted(){
            this.now = Date.parse(new Date()) / 1000;

            this.time1 = this.now

            this.date2 = this.exchangeT2D(this.time1)

            setTimeout(this.tt, 1000)

            this.aesData1 = this.aesData2 = this.aesToken = ""
        }
    }
</script>

{{template "footer" .}}

<style>
    .md5-label {
        font-size: 12px;
        font-weight: bold;
    }
</style>