
{{template "header" .}}

<section>
    <Tabs model-value="timestamp" :animated="false">
        <Tab-Pane label="时间戳转换" name="timestamp">

            <div style="padding: 12px">

                <br>

                <Icon type="ios-clock-outline" size="48" style="width: auto; margin-left: 10px;"></Icon>
                北京时间: <span v-html="now" style="margin-left: 5px;"></span>

                 <br><br><br>

                <Divider orientation="left" size="small"  style="width: 50%">时间戳转换</Divider><br>

                <div>
                    <i-Input v-model="time1" style="width: auto; margin-left: 10px;" on-change="exchange1"></i-Input>
                    <span v-html="date1" style="margin-left: 10px;"></span>
                </div> <br><br><br>

                <Divider orientation="left" size="small">日期转换</Divider><br>

                <div>
                    <i-Input v-model="date2" style="width: auto; margin-left: 10px;"></i-Input>
                    <span v-html="time2" style="margin-left: 10px;"></span>
                </div> <br>
            </div>
        </Tab-Pane>

        <Tab-Pane label="Json格式化" name="json">
            <div class="demo-split" :style='{"height": contentHeight - 52 + "px", "border": "1px solid #dcdee2"}'>
                <Split v-model="split">
                    <template #left>
                        <div class="demo-split-pane">
                            <i-Input v-model="jsonData" type="textarea" :border="false" :rows="(contentHeight - 63) / 21" />
                        </div>
                    </template>
                    <template #right>
                        <div class="demo-split-pane">
                            <i-Input v-model="jsonDataFormatted" type="textarea" :border="false" :rows="(contentHeight - 63)  / 21"  />
                        </div>
                    </template>
                </Split>
            </div>
        </Tab-Pane>

        <Tab-Pane label="MD5加密" name="md5">
            <div style="width: 600px; padding: 12px;float: left">
                <i-Input v-model="md5_content" type="textarea" :rows="18"></i-Input>

<!--                <i-button type="info" style="margin-top: 10px" @click="md5" ghost>MD5 >></i-button>-->
            </div>

            <div style="width: 400px; padding: 12px;float: left;margin-left: 20px"><br>
                <span class="md5-label">32位大写&nbsp;</span> <i-Input v-model="md5_32_upper" style="width:80%;"></i-Input> <br><br>

                <span class="md5-label">32位小写&nbsp;</span> <i-Input v-model="md5_32_lower" style="width:80%;"></i-Input> <br><br>

                <span class="md5-label">16位大写&nbsp;</span> <i-Input v-model="md5_16_upper" style="width:80%;"></i-Input> <br><br>

                <span class="md5-label">16位小写&nbsp;</span> <i-Input v-model="md5_16_lower" style="width:80%;"></i-Input> <br><br>
            </div>
        </Tab-Pane>

        <Tab-Pane label="URL解码" name="url">
            <div style="width: 600px; padding: 12px;float: left">
                <i-Input v-model="urlContent" type="textarea" :rows="18"></i-Input>

                <i-button type="info" style="margin-top: 10px" @click="urlCode(1)" ghost>Url转码 >></i-button> &nbsp;&nbsp;
                <i-button type="warning" style="margin-top: 10px" @click="urlCode(2)" ghost>Url解码 >></i-button>
            </div>

            <Icon type="ios-arrow-dropright-circle" style="float: left;margin-left: 10px;margin-top: 160px" size="25"></Icon>

            <div style="width: 600px; padding: 12px;float: left;margin-left: 10px">
                <i-Input v-model="url2Content" type="textarea" :rows="18"></i-Input>
            </div>
        </Tab-Pane>
    </Tabs>


</section>

<script type="text/javascript" src="./assets/js/md5.js"></script>
<script type="text/javascript" src="./assets/js/formatJson.js"></script>

<script>

    var render = {
        data () {
            return {
                now:0,
                time1: "",
                date1: "",
                time2: "",
                date2: "",

                jsonData: "",
                jsonDataFormatted: "",
                split: 0.48,

                md5_content:"",
                md5_32_upper:"",
                md5_32_lower:"",
                md5_16_upper:"",
                md5_16_lower:"",


                urlContent:"",
                url2Content:"",
            }
        },
        watch:{
            jsonData(v){
                this.jsonDataFormatted = formatJson(v)
            },
            md5_content(v){
                this.md5(v)
            },
            time1(){
                this.exchange1()
            },
            date2(){
                this.exchange2()
            },
        },
        methods: {
            add(m){
                return m<10 ? '0'+m : m
            },
            exchange1(){
                this.date1 = this.exchangeT2D(this.time1)
            },
            exchange2(){
                this.time2 = this.exchangeD2T(this.date2)
            },
            exchangeT2D(t){
                var time = new Date(t*1000);
                var y = time.getFullYear();
                var m = time.getMonth()+1;
                var d = time.getDate();
                var h = time.getHours();
                var mm = time.getMinutes();
                var s = time.getSeconds();
                return y+'-'+this.add(m)+'-'+this.add(d)+' '+this.add(h)+':'+this.add(mm)+':'+this.add(s);
            },
            exchangeD2T(d){
                d = d.substring(0,19);
                d = d.replace(/-/g,'/');
                return new Date(d).getTime() / 1000;
            },
            tt(){
                this.now = Date.parse(new Date()) / 1000;
                setTimeout(this.tt, 1000)
            },
            md5(v) {
                this.md5_32_lower = hex_md5(v)
                this.md5_32_upper = this.md5_32_lower.toUpperCase()
                this.md5_16_lower = this.md5_32_lower.substr(8, 16)
                this.md5_16_upper = this.md5_32_upper.substr(8, 16)
            },
            urlCode(t) {
                if (t === 1) {
                    this.url2Content = escape(this.urlContent)
                } else {
                    this.url2Content = unescape(this.urlContent)
                }
            }
        },
        mounted(){
            this.now = Date.parse(new Date()) / 1000;

            this.time1 = this.now

            this.date2 = this.exchangeT2D(this.time1)

            setTimeout(this.tt, 1000)
        }
    }
</script>

{{template "footer" .}}

<style>
    .md5-label {
        font-size: 12px;
        font-weight: bold;
    }
</style>