
{{template "header" .}}

<section>
    <div style="font-size: 20px">时间戳转换 <span style="font-size: 10px"> - 北京时间</span></div> <br>

    <div>
        <span>现在：</span>
        <span v-html="now" style="margin-left: 24px;"></span>
    </div> <br>

    <div>
        <span>时间戳：</span>
        <i-Input v-model="time1" style="width: auto; margin-left: 10px;"></i-Input>
        <i-button type="warning" style="margin-left: 10px" @click="exchange1" ghost>转换 >></i-button>
        <i-Input v-model="date1" style="width: auto; margin-left: 10px"></i-Input>
    </div> <br>

    <div>
        <span>当前：</span>
        <i-Input v-model="date2" style="width: auto; margin-left: 24px;"></i-Input>
        <i-button type="info" style="margin-left: 10px" @click="exchange2" ghost>转换 >></i-button>
        <i-Input v-model="time2" style="width: auto; margin-left: 10px"></i-Input>
    </div> <br>
</section>

<script>

    var render = {
        data () {
            return {
                now:0,
                time1: "",
                date1: "",
                time2: "",
                date2: "",
            }
        },
        methods: {
            add(m){
                return m<10 ? '0'+m : m
            },
            exchange1(){
                this.date1 = this.exchangeT2D(this.time1)
            },
            exchange2(){
                this.time2 = this.exchangeD2T(this.date2)
            },
            exchangeT2D(t){
                var time = new Date(t*1000);
                var y = time.getFullYear();
                var m = time.getMonth()+1;
                var d = time.getDate();
                var h = time.getHours();
                var mm = time.getMinutes();
                var s = time.getSeconds();
                return y+'-'+this.add(m)+'-'+this.add(d)+' '+this.add(h)+':'+this.add(mm)+':'+this.add(s);
            },
            exchangeD2T(d){
                d = d.substring(0,19);
                d = d.replace(/-/g,'/');
                return new Date(d).getTime() / 1000;
            },
            tt(){
                this.now = Date.parse(new Date()) / 1000;
                setTimeout(this.tt, 1000)
            }
        },
        mounted(){
            this.now = Date.parse(new Date()) / 1000;

            this.time1 = this.now

            this.date2 = this.exchangeT2D(this.time1)

            setTimeout(this.tt, 1000)
        }
    }
</script>

{{template "footer" .}}
