
{{template "header" .}}

<section>
    <div>
        <i-Switch size="large" v-model="aesType">
            <template #open>
                <span>加密</span>
            </template>
            <template #close>
                <span>解密</span>
            </template>
        </i-Switch>

        <span class="md5-label" style="margin-left: 20px">密钥（s）：</span> <i-Input v-model="aesToken" style="width:300px;"></i-Input>

        <Tooltip placement="right-start" style="display: inline;margin-left:20px;">
            <a target="_blank" href="https://conf-inner.tradplusad.com/pages/viewpage.action?pageId=2835243" >
                <Icon type="ios-alert"></Icon>传输加解密提示
            </a>
            <template #content>
                <p>1. AES 256 ECB 加密，base64 编码</p>
                <p>2. 密钥长度统一32位</p>
            </template>
        </Tooltip >

    </div><br/>

    <div class="demo-split" :style='{"height": contentHeight - 60 + "px", "border": "1px solid #dcdee2"}'>
        <Split v-model="split">
            <template #left>
                <div class="demo-split-pane">
                    <i-Input v-model="aesData1" type="textarea" :border="false" :rows="globalTextareaRowsWithButton"></i-Input>
                </div>
            </template>
            <template #right>
                <div class="demo-split-pane">
                    <i-Input v-model="aesData2" type="textarea" :border="false" :rows="globalTextareaRowsWithButton"></i-Input>
                </div>
            </template>
        </Split>
    </div>
</section>

<script>

    var render = {
        data () {
            return {
                aesData1:"",
                aesData2:"",
                aesType:true,
                aesToken:"",
            }
        },
        watch:{
            aesData1(){
                this.aes()
            },
            aesType(){
                this.aes()
            },
            aesToken(){
                this.aes()
            },
        },
        methods: {
            aes() {
                if (this.aesData1 == "") {
                    this.aesData2 = ""
                    return
                }
                var self = this
                var api = ""
                var tip = ""

                if (this.aesType) {
                    api = "/aes-encode"
                    tip ="加密"
                } else {
                    api = "/aes-decode"
                    tip ="解密"
                }
                axios.post(api,
                    this.aesData1,
                    {
                        headers:{
                            s: this.aesToken
                        }
                    }
                ).then(function (response) {
                    if (response.status == 200 && response.data != 'nil\n') {
                        let resp = response.data
                        resp2 = JSON.stringify(resp)
                        if (resp2.substring(0, 1) == "\"") {
                            resp2 = resp2.substring(1, resp2.length-3)
                        }
                        self.aesData2 = resp2
                    } else {
                        self.aesData2 = tip + "失败."
                    }
                }).catch((error) => {
                    console.log(error);
                    self.aesData2 = tip + "失败."
                })
            },
        },
        mounted() {
            this.aesData1 = this.aesData2 = this.aesToken = ""
        }
    }
</script>

{{template "footer" .}}