
{{template "header" .}}

<section>

</section>

<script>

var render = {
    data () {
        return {

        }
    },
    methods: {

    },
    mounted(){
    }
}
</script>

{{template "footer" .}}
