
{{template "header" .}}


<section>
    <div class="demo-split" :style='{"height": contentHeight + "px", "border": "1px solid #dcdee2"}'>
        <Split v-model="split">
            <template #left>
                <div class="demo-split-pane">
                    <i-Input v-model="jsonData" type="textarea" :border="false" :rows="contentHeight / 21" />
                </div>
            </template>
            <template #right>
                <div class="demo-split-pane">
                    <i-Input v-model="jsonDataFormatted" type="textarea" :border="false" :rows="contentHeight / 21"  />
                </div>
            </template>
        </Split>
    </div>
</section>

<script type="text/javascript" src="./assets/js/formatJson.js"></script>

<script>
var render = {
    data () {
        return {
            jsonData: "",
            jsonDataFormatted: "",
            split: 0.48
        }
    },
    watch:{
        jsonData(v){
            this.jsonDataFormatted = formatJson(v)
        }
    },
    methods: {

    },
    mounted(){
    }
}
</script>

{{template "footer" .}}
