#theme{
    color: #ffffff; /*无色背景*/
    color: #515a6e; /*浅色颜色：字体灰色*/

    color: #006688; /*主题深色*/
    color: #009cd1; /*主题浅色*/
    color: #f3f3f3; /*浅色背景：下拉菜单*/
    color: #303030; /*深色背景：头部背景色*/
}

